{% extends 'layout.html' %}

{% block content %}
<div class="col-md-8">
      <article class="blog-post">
      <h2 class="blog-post-title">{{ header }}</h2>
       <form method='POST' action='{{ action }}'>
       {% csrf_token %}
       {{form.media}}
       {{form.as_p}}
       <input type='submit' value='Salvar'>
       </form>

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div>
{% endblock content %}