{% extends 'sub_header.html' %}

{% load blog_extratags %}

{% block content %}
<div class="col-md-8">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Todas as tags
    </h3>
      {% if not tags %}
      <h1>Não foram encontrados posts.</h1>
      {% endif %}
      
      {% for tag in tags %}
      <article class="blog-post">
        <h2 class="blog-post-title"><a href = "{% url 'home' %}?tags={{ tag.name }} " >{{ tag.name }}</a></h2>
        {% with post_count=tag.post_set.count %}
        <p class="blog-post-meta"> ({{ post_count }} post{{ post_count|pluralize }})</p>
        {% endwith %}
      </article><!-- /.blog-post -->
      {% endfor %}
    </div>
{% endblock content %}