{% extends 'layout.html' %}
{% load blog_extratags %}
{% block content %}
<div class="col-md-8">
      <article class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        {% with wc=post.content|striptags|wordcount %}
        {% with reading_time=wc|intdiv:wpm %}
        <p class="blog-post-meta">{{ post.updated_at }} by <a href="{% url 'user_posts' post.author.id %}">{{ post.author.get_full_name }}</a> ({{wc}} word{{wc|pluralize}}, {{reading_time}} minute{{reading_time|pluralize}})(<a href="{% url 'edit_post' post.id %}">editar</a>)</p>
        {% endwith %}
        {% endwith %}
        {{ post.content|safe }}
      </article><!-- /.blog-post -->

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div>
{% endblock content %}